div {
    padding: 10px;
    border: solid #0b868f 1px;
    border-radius: 10px;
    color: gray;
    margin: 0px;

    p {
        text-align: center;
        margin: 0;
    }

    p:last-child {
        font-weight: bold;
        color: black;
    }
}


@media screen and (max-width: 600px) {
    div {
        margin-bottom: 0.5em;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}