
.wrapper-container {
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    text-align: center;
    h2{
        color: gray;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}