<div *ngIf="country$ | async else notFound">
  <div>
    <div class="center">
      <div>{{ country.country }}</div>
    </div>
    <div class="split">
      <app-information [text]="'Number of entries'" [value]="country.participations.length" />
      <app-information [text]="'Total Number of medals'" [value]="country.medalsCount" />
      <app-information [text]="'Total Number of athletes'" [value]="country.athletesCount" />
    </div>
  </div>

  <app-chart
    [chartId]="lineChartId"
    [type]="'line'"
    [labels]="country.participationYears"
    [data]="country.medals"
  />
  
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
</div>

<ng-template #notFound>
  <app-not-found [message]="'Country not found'"/>
</ng-template>
