<div *ngIf="country$ | async as country else infoMessage">
  <app-page-header
  [pageTitle]="country.country"
  [informations]="[
                    {text:'Number of entries', value : country.participations.length},
                    {text:'Total Number of medals', value : country.medalsCount},
                    {text:'Total Number of athletes', value : country.athletesCount},
                  ]"
  ></app-page-header>

  <app-chart
    [chartId]="lineChartId"
    [type]="'line'"
    [labels]="country.participationYears"
    [data]="country.medals"
  />
  
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
</div>

<ng-template #infoMessage>
  <app-not-found [message]="message"/>
</ng-template>
