/* You can add global styles to this file, and also import other style files */
app-root {
    display: block;
    height: 100vh;
}
.heading {
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    margin: 5px;

    div {
        background: #0b868f;
        padding: 10px;
        border-radius: 10px;
        color: white;
    }
}

